.vs/SampleDBWebApis/config/applicationhost.config
.vs/SampleDBWebApis/DesignTimeBuild/.dtbcache
.vs/SampleDBWebApis/v16/.suo
.vs/SampleDBWebApis/v16/Server/sqlite3/db.lock
.vs/SampleDBWebApis/v16/Server/sqlite3/storage.ide
.vs/SampleDBWebApis/v16/Server/sqlite3/storage.ide-shm
.vs/SampleDBWebApis/v16/Server/sqlite3/storage.ide-wal
.vs/SampleDBWebApis/v16/TestStore/0/000-0000.testlog
.vs/SampleDBWebApis/v16/TestStore/0/testlog.manifest
node_modules/nunit/nunit.js
node_modules/nunit/nunit-browser.js
node_modules/nunit/package.json
node_modules/nunit/README.md
node_modules/nunit/test/test.js
SampleDBWebApis.Service/bin/Debug/EntityFramework.dll
SampleDBWebApis.Service/bin/Debug/EntityFramework.SqlServer.dll
SampleDBWebApis.Service/bin/Debug/EntityFramework.SqlServer.xml
SampleDBWebApis.Service/bin/Debug/EntityFramework.xml
SampleDBWebApis.Service/bin/Debug/SampleDBWebApis.DataLayer.dll
SampleDBWebApis.Service/bin/Debug/SampleDBWebApis.DataLayer.dll.config
SampleDBWebApis.Service/bin/Debug/SampleDBWebApis.DataLayer.pdb
SampleDBWebApis.Service/bin/Debug/SampleDBWebApis.Service.dll
SampleDBWebApis.Service/bin/Debug/SampleDBWebApis.Service.dll.config
SampleDBWebApis.Service/bin/Debug/SampleDBWebApis.Service.pdb
SampleDBWebApis.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SampleDBWebApis.Service/obj/Debug/SampleDBWebApis.Service.csproj.CopyComplete
SampleDBWebApis.Service/obj/Debug/SampleDBWebApis.Service.csproj.FileListAbsolute.txt
SampleDBWebApis.Service/obj/Debug/SampleDBWebApis.Service.csprojAssemblyReference.cache
SampleDBWebApis.Service/obj/Debug/SampleDBWebApis.Service.dll
SampleDBWebApis.Service/obj/Debug/SampleDBWebApis.Service.pdb
SampleDBWebApis.Serviceold/obj/SampleDBWebApis.Service.csproj.nuget.cache
SampleDBWebApis.Serviceold/obj/SampleDBWebApis.Service.csproj.nuget.dgspec.json
SampleDBWebApis.Serviceold/obj/SampleDBWebApis.Service.csproj.nuget.g.props
SampleDBWebApis.Serviceold/obj/SampleDBWebApis.Service.csproj.nuget.g.targets
SampleDBWebApis.Serviceold/obj/Debug/netstandard2.0/SampleDBWebApis.Service.AssemblyInfo.cs
SampleDBWebApis.Serviceold/obj/Debug/netstandard2.0/SampleDBWebApis.Service.AssemblyInfoInputs.cache
SampleDBWebApis.Serviceold/obj/Debug/netstandard2.0/SampleDBWebApis.Service.assets.cache
SampleDBWebApis.Serviceold/obj/Debug/netstandard2.0/SampleDBWebApis.Service.csprojAssemblyReference.cache
SampleDBWebApis.Tests/bin/Debug/Antlr3.Runtime.dll
SampleDBWebApis.Tests/bin/Debug/Antlr3.Runtime.pdb
SampleDBWebApis.Tests/bin/Debug/EntityFramework.dll
SampleDBWebApis.Tests/bin/Debug/EntityFramework.SqlServer.dll
SampleDBWebApis.Tests/bin/Debug/EntityFramework.SqlServer.xml
SampleDBWebApis.Tests/bin/Debug/EntityFramework.xml
SampleDBWebApis.Tests/bin/Debug/FluentAssertions.dll
SampleDBWebApis.Tests/bin/Debug/FluentAssertions.pdb
SampleDBWebApis.Tests/bin/Debug/FluentAssertions.xml
SampleDBWebApis.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
SampleDBWebApis.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
SampleDBWebApis.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
SampleDBWebApis.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
SampleDBWebApis.Tests/bin/Debug/Newtonsoft.Json.dll
SampleDBWebApis.Tests/bin/Debug/Newtonsoft.Json.xml
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.DataLayer.dll
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.DataLayer.dll.config
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.DataLayer.pdb
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.dll
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.dll.config
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.pdb
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.Service.dll
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.Service.dll.config
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.Service.pdb
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.Tests.dll
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.Tests.dll.config
SampleDBWebApis.Tests/bin/Debug/SampleDBWebApis.Tests.pdb
SampleDBWebApis.Tests/bin/Debug/nunit.engine.api.dll
SampleDBWebApis.Tests/bin/Debug/nunit.engine.dll
SampleDBWebApis.Tests/bin/Debug/nunit.framework.dll
SampleDBWebApis.Tests/bin/Debug/nunit.framework.pdb
SampleDBWebApis.Tests/bin/Debug/nunit.framework.xml
SampleDBWebApis.Tests/bin/Debug/nunit_random_seed.tmp
SampleDBWebApis.Tests/bin/Debug/NUnit3.TestAdapter.dll
SampleDBWebApis.Tests/bin/Debug/NUnit3.TestAdapter.pdb
SampleDBWebApis.Tests/bin/Debug/System.Net.Http.Formatting.dll
SampleDBWebApis.Tests/bin/Debug/System.Net.Http.Formatting.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.Helpers.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.Helpers.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.Http.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.Http.WebHost.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.Http.WebHost.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.Http.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.Mvc.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.Mvc.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.Optimization.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.Optimization.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.Razor.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.Razor.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.WebPages.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.WebPages.Razor.dll
SampleDBWebApis.Tests/bin/Debug/System.Web.WebPages.Razor.xml
SampleDBWebApis.Tests/bin/Debug/System.Web.WebPages.xml
SampleDBWebApis.Tests/bin/Debug/WebGrease.dll
SampleDBWebApis.Tests/Controllers/HomeControllerTest.cs
SampleDBWebApis.Tests/Controllers/ValuesControllerTest.cs
SampleDBWebApis.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SampleDBWebApis.Tests/obj/Debug/SampleDBWebApis.Tests.csproj.CopyComplete
SampleDBWebApis.Tests/obj/Debug/SampleDBWebApis.Tests.csproj.FileListAbsolute.txt
SampleDBWebApis.Tests/obj/Debug/SampleDBWebApis.Tests.csprojAssemblyReference.cache
SampleDBWebApis.Tests/obj/Debug/SampleDBWebApis.Tests.dll
SampleDBWebApis.Tests/obj/Debug/SampleDBWebApis.Tests.pdb
SampleDBWebApis/bin/Antlr3.Runtime.dll
SampleDBWebApis/bin/Antlr3.Runtime.pdb
SampleDBWebApis/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
SampleDBWebApis/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
SampleDBWebApis/bin/
packages/
SampleDBWebApis.Service/bin/
SampleDBWebApis.Service/obj/Debug/SampleDBWebApis.Services.csproj.CopyComplete
SampleDBWebApis.Tests/bin/Debug/AutoMapper.dll
SampleDBWebApis.Tests/bin/
SampleDBWebApis/obj/
SampleDBWebApis.Service/obj/Debug/SampleDBWebApis.Services.csproj.FileListAbsolute.txt
SampleDBWebApis.Service/obj/Debug/
.vs/SampleDBWebApis/v16/TestStore/1/000-0000.testlog
.vs/SampleDBWebApis/v16/TestStore/1/testlog.manifest
SampleDBWebApis.DataLayer/obj/Debug/SampleDBWebApis.DataLayer.csprojAssemblyReference.cache
SampleDBWebApis.DataLayer/bin/Debug/
SampleDBWebApis.DataLayer/obj/Debug/
.vs/
SampleDBWebApis.Tests/obj/Debug/
